[Unit]
Description=Selenium Fullscreen Auto-Refresh
After=graphical.target

[Service]
Type=simple
User=root
Environment=DISPLAY=:0
ExecStart=/usr/bin/python3 /root/MPDV_script/MPDV.py
Restart=always
RestartSec=10
WorkingDirectory=/root/MPDV_script

[Install]
WantedBy=graphical.target